.general{
  font-family: Inter, sans-serif;
  color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #0c1022;
  padding-top: 50px;
  padding-bottom: 100px;
}
.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 3rem;
  background: #0c1022;
  grid-template-columns: 1fr 1fr;
  border-radius:20px ;
  border: 5px solid orange;
}
.profile{
  display: flex;
  flex-flow: row;
  grid-column: 1 / -1 ;
  margin-bottom: 2rem;
  margin-top: 0px;
  margin-left: 30px;
}
.profile_name_firstName{
  color: white;
  font-weight: 200;
  font-size: clamp(2rem, 8vw, 3rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}
.profile_name_secondName{
  color: orange;
  font-weight: 200;
  font-size: clamp(2.5rem, 15vw, 2rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}
.description{
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color:gray ;
}
.profile_title{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.profile_info{
  margin-left: 40px;
}
.img{
  max-width: 250px;
  height: 300px;
}
.skills_list{
  margin-top: 1rem;
  margin-left: -0.5rem;
  font-size: 2.0rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.title{
  color: orange;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.languages_list{
  margin-top: 1rem;
  margin-left: -0.5rem;
  font-size: 2.0rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.education_list_text{
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.education_list_year{
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color:white ;
  line-height: 1.5;
}
.courses_list_text{
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.courses_list_year{
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color:white ;
  line-height: 1.5;
}
.experience_list_text{
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.experience_list_year{
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color:white ;
  line-height: 1.5;
}
.interests_list{
  margin-top: 1rem;
  margin-left: -0.5rem;
  font-size: 2.0rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.socialNetworks_list{
  margin-top: 1rem;
  margin-left: -0.5rem;
  font-size: 2.0rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.personalData_address{
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color:gray ;
}
.personalData_phone{
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color:gray ;
}
.personalData_dateOfBrh{
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color:gray ;
}
.personalData_email{
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color:gray ;
}
.group1{
  display: flex;
  flex-flow: column;
  gap: 5px;
  margin-left: 50px;
}
.group2{
  display: flex;
  flex-flow: column;
  gap: 5px;
  margin-left: 100px;
}
.signUp{
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 140px;
  margin-top: -25px;
  text-align: right;
}
.login{
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
  margin-top: -25px;
  text-align: right;
}
.buttonLogin{
  position: absolute;
  cursor: pointer;
  width: 110px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #0c1022;
  background-color: orange;
  border: 4px solid black;
}
