.general{
  font-family: Inter, sans-serif;
  color: white;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.container{
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 3rem;
  background: #070707;
  grid-template-columns: 1fr 1fr;
  border-radius:20px ;
}
.profile{
  display: flex;
  flex-flow: row;
  grid-column: 1 / -1 ;
  margin-bottom: 2rem;
  margin-top: 0px;
}
.profile_name_firstName{
  color: white;
  font-weight: 200;
  font-size: clamp(2rem, 8vw, 3rem);
  text-transform: uppercase;
  display: block;
}
.profile_name_secondName{
 color: orange;
  font-weight: 200;
  font-size: clamp(2.5rem, 15vw, 2rem);
  text-transform: uppercase;
  display: block;
}
.description{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
}
.profile_title{
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}
.profile_info{
  margin-left: 40px;
}
.img{
  max-width: 250px;
  height: 300px;
}
.skills_list{
  margin-top: 1rem;
  margin-left: -0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.title{
  color: orange;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.languages_list{
  margin-top: 1rem;
  margin-left: -0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.education_list_text{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.education_list_year{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:white ;
  line-height: 1.5;
}
.courses_list_text{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.courses_list_year{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:white ;
  line-height: 1.5;
}
.experience_list_text{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
  //line-height: 1.5;
}
.experience_list_year{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:white ;
  //line-height: 1.5;
}
.interests_list{
  margin-top: 1rem;
  margin-left: -0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.socialNetworks_list{
  margin-top: 1rem;
  margin-left: -0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
  line-height: 1.5;
}
.personalData_address{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
  //line-height: 1.5;
}
.personalData_phone{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
  //line-height: 1.5;
}
.personalData_dateOfBrh{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
  //line-height: 1.5;
}
.personalData_email{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:gray ;
  //line-height: 1.5;
}
.group1{
  display: flex;
  flex-flow: column;
  gap: 5px;
}
.group2{
  display: flex;
  flex-flow: column;
  gap: 5px;
}

