.editSave{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  //text-align: right;
}
.buttonEditSave{
  //position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 90%;
  cursor: pointer;
  width: 110px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #0c1022;
  background-color: orange;
  border: 2px solid black;

}
